/* components/MapWithFilters.module.css */
.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

.mapArea {
  flex-grow: 1;
  position: relative;
}

.filtersContainer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.legendTitle {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .filtersContainer {
    width: 100%;
  }
}
