/* app/kontakt/ContactInfo.module.css */
.contactInfo {
  background: #3dd1e7;
  padding: 4vh 2vw;
  height: fit-content;
}

.contactInfo h2 {
  font-size: 4rem;
  color: gold;
  margin-bottom: 1rem;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px navy;
  text-align: center;
}

.intro {
  color: black;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1.15rem;
  font-weight: 400;
  font-family: "Oxanium", sans-serif;
  text-align: center;
}
.intro span {
  background-color: #3dd1e7;
  padding: 2px 0;
}

.contactMethods {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 50%;
  margin: 0 auto;
}

.contactMethod {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: aliceblue;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contactMethod:hover {
  background: #e2e8f0;
  box-shadow: none;
}

.methodIcon {
  font-size: 1.5rem;
  flex-shrink: 0;
}

.methodContent h3 {
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}

.methodContent p {
  color: #374151;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.responseTime {
  font-size: 0.875rem;
  color: #6b7280;
}
@media (max-width: 750px) {
  .contactMethods {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .contactInfo h2 {
    font-size: 10vw;
  }
  .contactMethods {
    width: 90%;
  }
}
