/* app/kontakt/kontakt.module.css */
.contactPage {
  width: 100%;
  height: fit-content;
}

.contactContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

@media (max-width: 868px) {
  .contactContent {
    grid-template-columns: 1fr;
  }
}
